development:
  adapter: postgresql
  encoding: unicode
  database: spree_development
  pool: 5
  username: username
  password: password

development:
  adapter: postgresql
  encoding: unicode
  database: spree_test
  pool: 5
  username: username
  password: password
